$common_value: (
    "10": 10px,
    "15": 15px,
    "20": 20px,
    "25": 25px,
    "30": 30px,
    "35": 35px,
    "40": 40px,
    "45": 45px,
    "50": 50px,
    "55": 55px,
    "60": 60px,
) !default;
$spacers_sp: map-merge(
    $common_value,
    (
        "12": 12px,
        "16": 16px,
        "38": 38px,
    ),
);

$spacers_pc: map-merge(
    $common_value,
    (
        "8": 8px !important,
        "13": 13px !important,
        "12": 12px !important,
        "16": 16px,
        "17": 17px,
        "18": 18px,
        "80": 80px,
    ),
);

@each $size, $length in $spacers_sp {
    .f-sp {
        &-#{$size} { font-size: $length; }
    }
}
@include resp(md) {
    @each $size, $length in $spacers_pc {
        .f {
            &-#{$size} { font-size: $length; }
        }
    }
}

.fw {
    &-100 {font-weight: 100 !important;}
    &-200 {font-weight: 200 !important;}
    @include resp(md) {
        &-100 {font-weight: 100 !important;}
        &-200 {font-weight: 200 !important;}
    }
}
.text-justify {text-align: justify !important;}